*{
    margin: 0;
    padding: 0;
    font-family: "whit";
}
@font-face {
    font-family: "whit";
    src: url(whitneylight.otf);
}
@font-face {
    font-family: "whitb";
    src: url(whitneybold.otf);
}
@keyframes time {
    100%{
        width: 100%;
    }
}
[data-anime]{
    opacity: 0;
    transition: 1s ease ;
}
[data-anime="left"]{
    transform: translate3d(-80px, 0, 0);
}
[data-anime="right"]{
    transform: translate3d(80px, 0, 0);
}
[data-anime="up"]{
    transform: translate3d(0px, 80px, 0);
}
[data-anime="bot"]{
    transform: translate3d(0px, -80px, 0px);
}
[data-anime].anima{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
body{

}
header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
    height: 10vh;
}
.logo{
    width: min(60px, 10vw);
    border-radius: 50%;
}
header a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
}
header p{
    font-size: min(30px, 5vw);
    font-family: "whitb";
    color: #ffffff;
}
main{

}
.sec1{
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
    margin-left: 5%;
    position: relative;
}
.btn{
    font-size: 17px;
    font-weight: 600;
    background-color: #fff;
    padding: 0.5% 1%;
    color: #121212;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}
h1{
    color: #ffffff;
    font-family: "whitb";
    font-size: min(60px, 7vw);
    width: 30%;
}
.video{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
aside{
}
.titulo{
    text-align: center;
    font-size: 30px;
    padding: 1%;
    position: relative;
    margin-bottom: 2%;
}
.titulo::after{
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    height: 5px;
    width: 5px;
    border-radius: 5px;
    background-color: #121212;
    transition: 0.3s ease-in;
}
.sec2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    padding: 1.5%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #f7f7f7,
    -10px -10px 10px #fcfcfc;
    transition: 0.5s ease;
    cursor: default;
    margin-bottom: 1%;
}
.cards:hover{
    transform: translateY(-10px);
    box-shadow: 15px 15px 15px #eeeeee,
    -10px -10px 10px #f5f5f500;
}
.cards img{
    width: 50px;
    padding: 1%;
    border-radius: 62% 58% 80% 48%;
}
.icon1{
    background-color: rgba(120, 151, 207, 0.432);
}
.icon2{
    background-color: rgba(206, 207, 120, 0.432);
}
.icon3{
    background-color: rgba(207, 169, 120, 0.432);
}
.sec2 .content{
    display: flex;
    align-items: center;
    gap: 5%;
    width: 100%;
    margin-bottom: 1%;
}
.sec2 h3{
    font-family: "whitb";
    font-size: 23px;
}
.sec2 p{
    line-height: 1.400;
}
.sec3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}
.sec3 img{
    width: min(30em,90vw);
    margin-bottom: 15px;
}
.sec3 .content{
    width: 20em;
    display: flex;
    flex-direction: column; 
    justify-content: center;  
}
.sec3 h3{
    font-size: 30px;
    font-family: "whitb";
}
.sec3 p{
    font-size: 18px;
    line-height: 1.500;
}
.sec4{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}
.sec4 .content{
    display: flex;
    flex-direction: column;
    width: 20em;
    margin-bottom: 15px;
}
.sec4 h3{
    font-size: 30px;
    font-family: "whitb";
}
.sec4 p{
    font-size: 18px;
    line-height: 1.500;
}
.graficos{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    width: 300px;
}
.sec4 .content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin-bottom: 5%;
    box-shadow: 0px 0px 10px 1px rgba(120, 151, 207, 0.274);
    transition: 0.3s ease ;
}
.sec4 .content2:hover{
    transform: scale(105%);
    box-shadow: 0px 0px 10px 5px rgba(120, 151, 207, 0.274);
}
.sec4 h4{
    font-size: 50px;
    font-family: "whitb";
    color: transparent;
    background: linear-gradient(45deg,rgb(120, 151, 207), rgb(150, 225, 255));
    -webkit-background-clip: text;
}
/*criações de alunos*/
.sec5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 3%;
}
.sec5 .content{
    display: flex;
    flex-direction: column;
    width: 350px;
    transition: 0.3s ease;
    box-shadow: 10px 10px 10px #f8f8f8,
    -10px -10px 10px #fcfcfc;
}
.sec5 .content:hover{
    transform: translateY(-10px);
    box-shadow: 15px 15px 15px #eeeeee,
    -10px -10px 10px #f5f5f5;
}
.sec5 img{
    height: 20em;
    width: 340px;
    object-fit: cover;
}
.sec5 .img1{
    width: 340px;
    opacity: 0;
    position: absolute;
    transition: 0.3s ease-in;
}
.sec5 .content .img1:hover{
    opacity: 1;
}
.sec5 h3{
    font-size: 23px;
    font-family: "whit";
    font-weight: 900;
    padding: 10px;
}
.sec5 i{
    font-size: 20px;
    padding: 10px;
}
.sec5 p{
    padding: 10px;
    font-size: 17px;
    margin-top: 1%;
    margin-bottom: 15px;
}
.sec5 .content2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}
.back{
    background-image: url(imgs/back.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 600px;
}
/*feedbacks*/
.sec6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5%;
    padding: 1%;
}
.sec6:hover .titulo::after{
    width: 50px;
}
.feedbacks{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
}
.feed{
    width: 20em;
    padding: 1.5%;
    box-shadow: 0px 0px 3px 3px rgba(120, 151, 207, 0.158);
    cursor: default;
    background-color: #fff;
    margin-bottom: 10px;
}
.feed:hover{
    box-shadow: 0px 0px 3px 5px rgba(120, 151, 207, 0.158);
}
.feed img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.feed .content{
    display: flex;
    align-items: center;
    gap: 10px;
}
.feed h4{
    font-size: 20px;
}
.feed p{
    margin-top: 15px;
}
.feed i{
    font-size: 10px;
}
.feed .content2{
    width: 60%;
    text-align: end;
}
.sec7{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    margin-top: 1%;
}
.profs{
    display: flex;
    gap: 1%;
    box-shadow: 0px 0px 3px 3px rgba(120, 151, 207, 0.158);
    background-color: #fff;
}
.profs img{
    width: min(50vw, 300px);
    height: 400px;
    object-fit: cover;
}
.profs .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 100%;
}
.profs h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.profs .content2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 0;
    opacity: 0;
    padding: 1%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s ease;
}
.profs:hover .content2{
    width: min(45vw, 300px);
    opacity: 1;
}
.profs h5{
    font-size: 17px;
    font-weight: 900;
    white-space: nowrap;
}
.profs .content3{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.profs i{
    font-size: 25px;
    text-decoration: none;
}
.profs a{
    white-space: nowrap;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #121212;
}