*{
    border: none;
}
@keyframes back{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0% 50%;
    }
}
body{
    background: linear-gradient(45deg, rgb(191, 255, 191), rgb(255, 251, 191), rgb(191, 251, 255));
    background-size: 300%;
    animation: back 10s ease infinite;
    margin: 0%;
}
header{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.div1{
    display: flex;
    align-items: center;
    gap: 5px;
    color: green;
    font-family: 'Oswald', sans-serif;
}
.logo{
    margin-left: 20%;
    margin-right: 10px;
    width: 60px;
    border-radius: 50%;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: end;
}
.menu-item{
    margin: 10px;
    padding: 3px;
    text-decoration: none;
    color: rgb(14, 168, 0);
    font-family: 'Poppins', sans-serif;
    font-weight: 100px;
    transform: translateY(0px);
}
.menu-item:hover{
    transform: translateY(-5px);
    transition: transform 0.5s ease;
    border-bottom: solid green;
}
form{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    width: 100%;
    height: 500px;
}
.formulario{
    padding: 0%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 30px;
    background-color: white;
    box-shadow: 1px 1px 25px 5px rgb(180, 180, 180);
    border-radius: 20px;
}
.form1{
    display: flex;
    margin-top: 15px;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
label{
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}
input{
    padding: 10px;
    width: 400px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 20px;
}
input:hover{
    box-shadow: 1px 1px 15px 1px rgb(191, 255, 191);
}
.form-img{
    width: 450px;
}
select{
    padding: 10px;
    width: 410px;
    height: 43px;
    border-radius: 20px;
    margin-bottom: 33px;
}
select:hover{
    box-shadow: 1px 1px 15px 1px rgb(191, 255, 191);
}
.btn1{
    width: 110px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 15px;
    background: linear-gradient(45deg, rgb(191, 255, 191), rgb(255, 251, 191), rgb(191, 251, 255));
    animation: back 10s ease infinite;
    background-size: 300%;
    transform: translateY(0px);
}
.btn1:hover{
    transform: translateY(-5px);
    transition: ease 1s;
}
.info{
    background-color: rgb(191, 255, 191);
    font-size: 15px;
}
.mult{
    background-color: rgb(235, 191, 255);
    font-size: 15px;
}
.conta{
    background-color: rgb(255, 251, 191);
    font-size: 15px;
}