*{
    border: none;
}
@keyframes back{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@font-face {
    font-family: 'whit';
    src: url(whitneylight.otf);
}
body{
    background: linear-gradient(45deg,#121212, #4C5958,#10403B );
    background-size: 400%;
    animation: back 10s ease infinite;
    margin: 0%;
    height: 100vh;
}
header{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: absolute;
}
.div1{
    display: flex;
    align-items: center;
    gap: 5px;
    color: green;
    font-family: 'Oswald', sans-serif;
}
.logo{
    margin-left: 20%;
    margin-right: 10px;
    width: 60px;
    border-radius: 50%;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: end;
}
.menu-item{
    margin: 10px;
    padding: 3px;
    text-decoration: none;
    color: rgb(12, 139, 0);
    font-family: 'Poppins', sans-serif;
    font-weight: 100px;
    transform: translateY(0px);
}
.menu-item:hover{
    transform: translateY(-5px);
    transition: transform 0.5s ease;
    border-bottom: solid green;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
}
.div2{
    width: 50%;
    padding: 1%;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 17%
}
.img{
    width: 50%;
}
label{
    font-family: "whit";
    font-size: 20px;
    padding: 3%;
}
input{
    font-family: "whit";
    padding: 5%;
    border-radius: 30px;
}
select{
    font-family: "whit";
    padding: 5%;
    border-radius: 30px;
}
.btn{
    text-align: center;
}
button{
    font-family: "whit";
    font-size: 17px;
    padding: 4% 6%;
    margin-top: 5%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px rgb(235, 235, 235);
}
button:hover{
    box-shadow: 1px 1px 10px 1px rgb(235, 235, 235);
    transform: scale(110%);
}
input:hover{
    box-shadow: 1px 1px 10px 1px rgb(230, 230, 230);
}
select:hover{
    box-shadow: 1px 1px 10px 1px rgb(230, 230, 230);
}