*{
    border: none;
}
@keyframes back{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@font-face {
    font-family: 'whit';
    src: url(whitneylight.otf);
}
@font-face {
    font-family: "whitb";
    src: url(whitneybold.otf);
}
body{
    background: linear-gradient(45deg,#121212, #025951,#02735E,#038C3E);
    background-size: 500%;
    animation: back 10s ease infinite;
    height: 100vh;
    margin: 0;
}
main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
    width: 60em;
    gap: 5%;
}
.div2{
    width: 25.8em;
    padding: 1%;
}
.form{
    display: flex;
    flex-direction: column;
}
.img{
    width: 30em;
    height: 40em;
    object-fit: cover;
}
label{
    font-family: "whitb";
    font-size: 20px;
    padding: 3%;
}
input{
    font-family: "whit";
    padding: 5%;
    border-radius: 30px;
}
select{
    font-family: "whit";
    padding: 5%;
    border-radius: 30px;
}
.btn{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 10%;
    gap: 5%;
}
button{
    font-family: "whit";
    font-size: 17px;
    padding: 4% 6%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px rgb(235, 235, 235);
    display: flex;
}
button:hover{
    box-shadow: 1px 1px 10px 3px rgb(235, 235, 235);
}
input:hover{
    box-shadow: 1px 1px 10px 1px rgb(230, 230, 230);
}
select:hover{
    box-shadow: 1px 1px 10px 1px rgb(230, 230, 230);
}
.btn2{
    text-decoration: none;
    color: #121212;
    font-family: "whit";
    box-shadow: 1px 1px 5px 1px rgb(235, 235, 235);
    font-size: 17px;
    padding: 4% 6%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    width: max-content;
}
.btn2:hover{
    box-shadow: 1px 1px 10px 3px rgb(235, 235, 235);
}