*{
    margin: 0;
    padding: 0;
    font-family: "whit";
    border: none;
}
@font-face {
    font-family: 'whit';
    src: url(fonts/whitneylight.otf);
}
@font-face {
    font-family: 'whitb';
    src: url(fonts/whitneybold.otf);
}
@keyframes piscar {
    from{
        border-right-color: #fff;
    }
    to{
        border-right-color: transparent;
    }
}
@keyframes texto{
    from{
        width: 0px;
    }
    to{
        width: min(1050px, 85vw);
    }
}  
@keyframes balancar {
    0%{
        transform: translateX(3px); 
    }
    100%{
        transform: translateX(-3px);
    }
}
::-webkit-scrollbar{
    width: 12px; 
}
::-webkit-scrollbar-thumb{
    background-color: #009762;
    border-radius: 10px;  
}
body{
    width: 100vw;
    overflow-x: hidden;
}
/*header*/
header{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: +10;
    background-color: #fff;
}
.navmob{
    display: none;
}
.logo{
    width: min(50px ,10vw);
    height: min(50px ,10vw);
    object-fit: cover;
    border-radius: 50%;
}
.logo2{
    width: min(50px ,10vw);
    height: min(50px ,10vw);
    object-fit: cover;
    border-radius: 50%;
}
.topo{
    cursor: pointer;
}
.topo2{
    cursor: pointer;
}
.topo3{
    cursor: pointer;
}
span{
    font-family: whitb;
    color: #009762 !important; 
}
nav{
    display: flex;
    gap: 20%;
}
nav a{
    position: relative;
    padding: 5px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
nav a::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    bottom: -3px;
    left: 0;
    border-radius: 5px;
    background-color: #F29325;
    transition: 0.3s ease;
}
nav a:hover::after{
    width: 100%;
}
#ir{
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    color: #000;
    padding: 5px;
    font-weight: 600;
    font-size: 14px;
}
#ir i{
    transition: 0.5s ease;
}
#ir:hover i{
    animation: balancar 0.5s ease infinite alternate;
    color: #F29325;
}
#ir::after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #F29325;
    transition: .3s ease;
}
#ir:hover::after{
    width: 100%;
}
/*conteudo principal*/
main{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
main h1{
    color: rgb(255, 255, 255);
    font-family: whitb;
    font-size: 50px;
}
main a{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    padding: 8px 20px;
    border: solid 1px rgba(255, 255, 255, 0.24);
}
main a::before {  
    position: absolute;
    content: "";
    background-color: #009762;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .4s ease;
}
main a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
main #back{
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -10;
    filter: brightness(50%);
}
/*introdução*/
.sobre{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec1{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 80vh;
    width: 100%;
}
.sec1 .img{
    width: min(25em, 25vw);
    height: min(25em, 25vw);
    border-radius: 15px;
    background-color: #ffac4d;
    position: relative;
}
.sec1 .img::after{
    position: absolute;
    content: "";
    bottom: -20px;
    left: -20px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    z-index: -1;
    background-color: #009762;
}
.sec1 img{
    position: absolute;
    width: min(25em, 25vw);
    height: min(35em, 35vw);
    object-fit: cover;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.sec1 .content{
    width: 30em;
}
.sec1 h3{
    font-family: "whitb";
    font-size: min(40px, 4vw);
}
.sec1 span{
    font-family: "whitb";
    color: #009762;
}
.sec1 p{
    font-size: 17px;
    line-height: 1.500;
}
/*titulo*/
.title{
    width: 100%;
    text-align: center;
}
.title h3{
    font-family: "whitb";
    font-size: min(40px,5vw); 
}
.title p{
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline #F29325;
}
/*videos e fotos*/
.sec2{
    display: flex;
    flex-direction: column;
}
.sec2 .content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 5%;
}
#vid{
    border-radius: 20px;
    width: 550px;
    height: 500px;
    object-fit: cover;
}
.sec2 video, .sec2 img{
    object-fit: cover;
    width: 260px;
    height: 245px;
    border-radius: 20px;
}
.sec2 .content2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sec2 .content3{
    display: flex;
    gap: 15px;
}
/*cursos*/
.cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}
.cursos .content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 5%;
}
.cursos .cards{
    position: relative;
    width: 280px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition: .3s ease;
}
.cursos .cards:hover{
    width: 400px;
}
.cursos .cards:hover video{
    filter: brightness(100%);
}

.cursos video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 30px;
    filter: brightness(35%) ;
    transition: .3s ease;
}
.cursos .content h3{
    position: absolute;
    text-align: center;
    color: #ffff;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    font-size: 20px;
    cursor: default;
    padding: 10px;
    transition: .3s ease;
}
/*feedbacks*/
.feed{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    cursor: default;
}
.feedbacks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13%;
    margin-top: 5%;
}
.feedbacks .img{
    width: min(25em, 25vw);
    height: min(25em, 25vw);
    border-radius: 15px;
    margin-top: 3%;
    background-color: #ffae51;
    position: relative;
}
.feedbacks .img::after{
    position: absolute;
    content: "";
    bottom: -20px;
    right: -20px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    z-index: -1;
    background-color: #009762;
}
.feedbacks .img img{
    position: absolute;
    width: min(25em, 25vw);
    height: min(35em, 35vw);
    object-fit: cover;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.feed .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.feed .content img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
}
.feed .cards{
    position: relative;
    display: flex;
    gap: 15px;
    padding: 30px 20px;
    border-radius: 25px;
    background-color: #fff;
}
.feed .cards:hover::after{
    background-color: #ffae51;
}
.feed .cards::after{
    position: absolute;
    content: "";
    height: 75%;
    width: 80%;
    top: 18%;
    left: 50%;
    transform: translateX(-40%);
    z-index: -10;
    background-color: #03bb3152;
    filter: blur(20px);
}
.feed .aluno{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.feed i{
    font-size: 20px;
}
/*contatos*/
.mais{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.mais .title h4{
    font-size: 20px;
    font-weight: 100;
    text-decoration: underline orange;
}
.gestao{
    position: relative;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}
.gestao img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.gestao .cards{
    position: relative;
    width: 280px;
    height: 250px;
    border-radius: 30px;
}
.gestao .cards::after{
    position: absolute;
    content: "";
    height: 85%;
    width: 70%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: #03bb3170;
    filter: blur(20px);
}
.gestao .cards:hover::after{
    background-color: #f292258f;
}
.gestao .cards .content{
    display: flex;
    color: #fff;
    position: absolute;
    width: max-content;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.651);
    padding: 10px 15px;
    border-radius: 15px 15px 0 0;
    transition: 0.2s ease;
    opacity: 0;
}
.gestao .cards:hover .content{
    opacity: 1;
}
.gestao .cards i{
    transform: translateX(25px);
    opacity: 0;
    transition: 0.2s ease;
}
.gestao .cards .content:hover i{
    opacity: 1;
    transform: translateX(0);
}
.gestao a{
    text-decoration: none;
}
/*conta*/
.conta{
    width: 100%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
/*contatos*/
.contatos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 1%;
    margin-left: 3%;
}
.contatos a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-decoration: none;
    gap: 40px;
    width: 150px;
    height: 150px;
    font-size: 55px;
    background-color: #fff;
    padding: 5px;
    border-radius: 20px;
    color: #009762;
}
.contatos a::after{
    position: absolute;
    content: "";
    height: 80%;
    width: 70%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: #03bb3170;
    filter: blur(20px);
}
.contatos a p{
    font-size: 15px;
    color: #000;
}
/*video*/
.videos{
    position: relative;
    width: 900px;
    height: 300px;
    display: flex;
    margin-right: 1%;
    flex-direction: column;
    align-items: flex-end;
}
.videos #back2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 70px 70px 0;
    filter: brightness(40%);
    z-index: -1;
}
.videos h3{
    color: #fff;
    font-family: whitb;
    font-size: 27px;
    margin-right: 3%;
}
.videos p{
    color: #fff;
    font-family: whit;
    font-size: 17px;
    margin: 5% 3% 0 0;
    text-decoration: underline #F29325;
}
.videos a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 1% 3%;
}
.videos a::after{
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background-color: #F29325;
    bottom: -5px;
    left: 0;
    transition: 0.3s ease;
}
.videos a:hover::after{
    width: 100%;
}
/*footer*/
footer{
    background-color: #151515;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .rodape{
    display: flex;
    justify-content: center;
    gap: 8%;
    width: 100%;
    padding: 2% 0;
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ajuda{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social{
    display: flex;
    gap: 10%;
}
.social i{
    color: #fff;
}
.social a{
    font-size: 40px;
}
footer h5{
    font-size: 17px;
    margin-bottom: 10%;
}
footer a{
    text-decoration: none;
    color: #bbbbbb;
}
footer a:hover{
    text-decoration: underline;
}
footer h6{
    cursor: default;
    font-size: 13px;
    margin-bottom: 5px;
}
footer i{
    color: rgb(255, 145, 0);
}
/*medias*/
@media (min-width:600px) and (max-width: 1300px){
    .sec1{
        gap: 3%;
    }
    .sec2 .content{
        flex-wrap: wrap;
    }
    .sec2 #vid{
        width: 500px;
    }
    .sec2 video ,.sec2 img{
        width: 250px;
    }
    .cursos .content{
        flex-wrap: wrap;
        width: 80vw;
    }
    .cursos .cards{
        width: 35vw;
    }
    .cursos .cards:hover{
        width: 35vw;
    }
    .feedbacks{
        flex-wrap: wrap-reverse;
        gap: 50px;
    }
    .feedbacks .img{
        display: none;
    }
    .conta{
        flex-wrap: wrap;
        gap: 50px;
    }
    .contatos{
        width: 100%;
    }
    .conta .videos{
        width: 100vw;
    }
    .conta .videos #back2{
        border-radius: 0;
        width: 100vw;
    }
    footer{
        padding: 20px 0;
    }
    footer .btns{
        gap: 10px;
    }
    footer .ajuda{
        gap: 10px;
    }
    footer h6{
        margin-top: 20px;
    }
}
@media (max-width: 600px) {
    header{
        display: none;
    }
    .navmob{
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: +100;
        padding: 5px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.103);
    }
    .navmob img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        background-color: #fff;
        border-radius: 5px;
    }
    .navmob .espec{
        transform: translateX(0) !important;
        width: 100% !important;
        height: 100% !important;
        transition: transform 0.5s ease;
    }
    .navmob .content i{
        font-size: 25px;
        padding: 10px;
    }
    .navmob .content{
        width: 0;
        height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        background-color: #fff;
        transform: translateX(-100%);
    }
    .navmob .content2{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .navmob a{
        text-decoration: none;
        color: #000;
        font-size: 15px;
        padding: 10px 30px;
    }
}