*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'whit';
    src: url(whitneylight.otf);
}
@font-face {
    font-family: 'whitb';
    src: url(whitneybold.otf);
}
@keyframes piscar {
    from{
        border-right-color: #fff;
    }
    to{
        border-right-color: transparent;
    }
}
@keyframes texto{
    from{
        width: 0px;
    }
    to{
        width: min(1050px, 85vw);
    }
}
@keyframes  borda{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes back{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@keyframes borda1{
    0%{
        clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
    }
    20%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    40%{
        clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
    }
    60%{
        clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);
    }
}    
body{
    background-image: url(imgs/zback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0%;
}
h1{
    font-weight: 800;
    font-size: min(35px, 5vw);
}
header{
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5%;
}
.div1{
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    margin-right: 20px;
}
.logo{
    width: min(60px ,10vw);
    border-radius: 50%;
}
.menu{
    display: flex;
}
#bot{
    cursor: pointer;
}
#bot2{
    cursor: pointer;
}
.topo{
    cursor: pointer;
}
.menu-item {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1% 10%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'whit', sans-serif;
    font-size: min(17px, 4vw);
}
.menu-item::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    background-color: #F29325;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
    border-radius: 10px;
}
.menu-item:hover::after{
    width: 50%;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}
main a{
    text-decoration: none;
    color: white;
    border: solid #ffff 1px;
    padding: 12px 10px;
    font-size: 15px;
    font-family: 'whit';
    font-weight: 800;
    margin-top: 1%;
    clip-path: polygon(0 0, 85% 0, 100% 35%, 100% 100%, 15% 100%, 0 65%);
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.5s ease;
}
main a:hover {
    border: solid #F29325 1px;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 0% 100%, 0 100%);
}
main i{
    transition: 1s;
}
main a:hover i{
    color: #F29325;
}
main h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: min(50px, 4vw);
    font-weight: 800;
    border-right: solid white 2.5px;
    animation: piscar 1000ms infinite, texto steps(35) 3s 1s;
    overflow: hidden;
    white-space: nowrap;
    height: max-content;
}
/*introdução*/
.sec1{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
}
.sec1 h2{
    color: #025935;
    font-family: "whitb";
    font-size: min(30px, 7vw);
    margin-bottom: 5%;
}
.sec1 p{
    color: #4C5958;
    font-family: "whit";
    font-size: 18px;
    margin-bottom: 5%;
}
.sec1 a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 3px;
    color: #127369;
    font-family: "whit";
    font-size: 15px;
}
.sec1 a{
    width: max-content;
    border: solid 0.1px;
    color: #121212;
    padding: 1%;
    clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
    transition: 0.5s ease;
}
.sec1 a:hover{
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    color: #007172;
}
.sec1 i{
    font-size: 17px;
    margin-top: 4px;
}
.sec1 img{
    width: 50%;
}
.informa1{
    display: flex;
    align-items: center;
    min-width: 300px;
    max-width: 600px;
    padding: 3%;
    box-shadow: 1px 1px 5px 5px rgb(247, 247, 247);
}
.informa2{
    display: flex;
    align-items: center;
    min-width: 300px;
    max-width: 600px;
    padding: 3%;
    box-shadow: 1px 1px 5px 5px rgb(247, 247, 247);
}

/*titulo*/
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    margin-top: 1%;
}
h3{
    text-align: center;
    font-family: "whit";
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 5px;
    z-index: 1;
}
.borde{
    width: 5px;
    border-radius: 5px;
    height: 5px;
    background-color: #F29325;
    transition: 0.3s ease;
    margin-bottom: 2%;
    z-index: 1;
}
/*titulo-end*/

/*sec2*/
.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.sec2:hover .borde{
    width: 50px;
}
.cont{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sec2 h4{
    font-family: "whit";
    font-size: min(18px,2.5vw);
    color: white;
    margin-bottom: 10%;
    opacity: 0;
    transition: 0.3s ease;
}
.sec2 .inf:hover h4{
    opacity: 1;
    transform: translateY(-10px);
}
.sec2 .inf:hover i{
    opacity: 1;
    transform: translateY(-10px);
}
.sec2 .inf:hover{
    transform: scale(107%);
}
.sec2 .mult:hover{
    transform: scale(107%);
}
.sec2 .mult:hover h4{
    opacity: 1;
    transform: translateY(-15px);
}
.sec2 .mult:hover i{
    opacity: 1;
    transform: translateY(-15px);
}
.sec2 .con:hover{
    transform: scale(107%);
}
.sec2 .con:hover h4{
    opacity: 1;
    transform: translateY(-15px);
}
.sec2 .con:hover i{
    opacity: 1;
    transform: translateY(-15px);
}
.sec2 .redes:hover{
    transform: scale(107%);
}
.sec2 .redes:hover h4{
    opacity: 1;
    transform: translateY(-15px);
}
.sec2 .redes:hover i{
    opacity: 1;
    transform: translateY(-15px);
}
.sec2 a{
    text-decoration: none;
}
.sec2 i{
    color: white;
    margin-bottom: 10%;
    opacity: 0;
    transition: 0.3s;
    font-size: min(18px,2.5vw);
}
.inf{
    background-image: url(https://i.pinimg.com/originals/94/32/cd/9432cdd515ab3d772334e471e230c211.jpg);
    width: max(20vw, 160px);
    background-size: cover;
    transition: 0.1s ease;
    height: max(30vw, 300px);
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.mult{
    background-image: url(https://a-static.besthdwallpaper.com/multicolor-stripes-wallpaper-1920x1080-17130_48.jpg);
    width: max(20vw, 160px);
    background-size: cover;
    transition: 0.1s ease;
    height: max(30vw, 300px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.con{
    background-image: url(https://ze-robot.com/images/source/28935.jpg);
    width: max(20vw, 160px);
    background-size: cover;
    transition: 0.1s ease;
    height: max(30vw, 300px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.redes{
    background-image: url(https://i.pinimg.com/originals/11/1a/03/111a03133d14214539c96e0f657dff1a.png);
    width: max(20vw, 160px);
    background-size: cover;
    transition: 0.1s ease;
    height: max(30vw, 300px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*sec3*/
.sec3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.sec3:hover .borde{
    width: 50px;
}
.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    gap: 5%;
    flex-wrap: wrap;
}
.sec3 img{
    width: min(30em, 90vw);
    object-fit: cover;
}
.sec3 .content{
    width: 25em;
}
.sec3 h2{
    color: #025935;
    font-family: "whitb";
    font-size: min(35px, 8vw);
}
.sec3 p{
    font-family: "whit";
    font-size: min(18px, 5vw);
}
/*sec3-end*/

/*sec3 só q continuação*/
.sec31{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    flex-wrap: wrap;
    margin-top: 1%;
}
.sec31 img{
    width: 70%;
}
.conteudo{
    border: solid 0.1px rgb(216, 216, 216);
    box-shadow: 15px 15px 0px -3px rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 17em;
    height: 20em;
    border-radius: 15px;
    transition: 0.3s ease;
    padding: 1%;
    overflow: hidden;
    margin-bottom: 20px;
}
.conteudo:hover{
    transform: translateY(-2%);
    box-shadow: 16px 16px 0px 0px rgb(230, 230, 230);
}
.sec31 p{
    font-family: "whit";
    width: 100%;
    line-height: 1.400;
}
/*fim-sec3.1*/

/*video*/
.sec4{
    margin-top: 3%;
    height: 80vh;
    position: relative;
}
.sec4 .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 5%;
}
video{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sec4 h3{
    font-family: "whitb";
    color: #ffff;
    font-size: min(35px, 8vw);
}
.sec4 a{
    text-decoration: none;
    color: #ffff;
    font-family: "whit";
    padding: 10px;
    border-top: solid 0.1px #ffff;
    font-size: min(16px, 4vw);
    position: relative;
}
.sec4 a::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #F29325;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    transition: 0.3s ease;
}
.sec4 a:hover::after{
    width: 80%;
}
/*sec5*/
.sec5{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1%;
}
.sec5:hover .borde{
    width: 50px;
}
.content2{
    display: flex;
    justify-content: center;
    gap: 3%;
    padding: 20px 0;
}
.sec5 a{
    text-decoration: none;
    display: flex;
    align-items: center;
    width: min(60px, 10vw);
    height: min(60px, 10vw);
    transition: 0.5s ease;
    padding: 0.5%;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 10px 10px 10px #f3f3f3,
             -10px -10px 10px #fdfdfd;
}
.sec5 a:hover{
    width: 350px;
}
.sec5 a:hover h4{
    display: block;
}
.sec5 h4{
    padding: 5%;
    display: none;
    font-family: "whit";
    color: #F29325;
}
.sec5 i{
    font-size: min(60px, 10vw);
    transition: 0.5s;
    color: #025935;
}
.sec5 a:hover i{
    transform: rotate(-360deg);
    color: #D94F04;
}
.b1-div{
    text-align: center;
    display: flex;
    margin: 1%;
    justify-content: center;
}
.b1{
    width: 30%;
    height: 0.1px;
    background-color: #BFBFBF;
}
/*sec5-end*/

/*sec6*/
.sec6{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
    margin-top: 1%;
}
.sec6 div{
    width: 25em;
    padding: 15px;
} 
.sec6 img{
    width: min(30em, 90vw);
    border-radius: 15px;
}
.sec6 h4{
    color: #025935;
    font-family: "whitb";
    font-size: min(35px, 7vw);
}
.sec6 p{
    font-family: "whit";
    font-size: min(18px, 5vw);
    margin-bottom: 5px;
}
.sec7{
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.sec7 img{
    width: min(30em, 90vw);
    border-radius: 15px;
}
.sec7 .content{
    width: 25em;
    padding: 15px;
}
.sec7 h4{
    color: #025935;
    font-family: "whitb";
    font-size: min(35px, 7vw);
}
.sec7 p{
    font-family: "whit";
    font-size: min(18px, 5vw);
    margin-bottom: 5px;
}
/*footer*/
footer{
    background-color: #121212;
    padding: 10px;
    margin-top: 1%;
}
footer .roda{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.itens{
    width: 15%;
}
.item{
    padding: 1%;
    margin: 10px;
    font-size: min(15px, 2.5vw);
}
footer a{
    text-decoration: none;
    color: #BFBFBF;
    font-family: "whit";
    font-size: min(15px,2.5vw);
}
footer a:hover{
    color: #ffffff;
    text-decoration: underline;
}
.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 2%; 
    position: relative;
}
.rodape::after{
    position: absolute;
    content: "";
    height: 0.1px;
    width: 10%;
    top: -90%;
    background-color: #BFBFBF;
    transition: 0.4s ease;
}
footer:hover .rodape::after{
    width: 50%;
}
.rodape i{
    color: #BFBFBF;
    font-size: 30px;
    cursor: pointer;
}
.rodape i:hover{
    color: #ffffff;
}
.fim{
    color: #BFBFBF;
}
.mencoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 2%;
    color: #bfbfbf96;
    font-family: "whit";
    font-size: min(15px,2.5vw);;
}
.mencoes i{
    color: rgb(255, 83, 83);
}
#icon1{
    color: #BFBFBF;
}