
@font-face {
    font-family: 'whit';
    src: url(whitneylight.otf);
}
@font-face {
    font-family: 'whitb';
    src: url(whitneybold.otf);
}
body{
    background-image: url(zback.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    margin: 0%;
}
@keyframes efeito{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}
h1{
    font-size: 30px;
    font-weight: 800;
}
header{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div1{
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
}
.logo{
    margin-left: 20%;
    width: 60px;
    border-radius: 50%;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: end;
}
#bot{
    cursor: pointer;
}
.menu-item {
    margin: 10px;
    padding: 3px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transform: translateY(0px);
    font-family: 'whit';
}
.menu-item:hover{
    transform: translateY(-5px);
    transition: transform 0.5s ease;
    border-bottom: solid green;
}
main{
    height: 90%;
    width: 98.8vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
main a{
    text-decoration: none;
    color: white;
    border: solid white 1px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
main a:hover {
    background-color: green;
}
main h2{
    color: white;
    font-size: 50px;
    font-weight: 800;
    border-right: solid white 2.5px;
    animation: piscar 1000ms infinite, texto steps(35) 3s 2s;
    overflow: hidden;
    white-space: nowrap;
    height: max-content;
}
@keyframes piscar {
    from{
        border-right-color: #fff;
    }
    to{
        border-right-color: transparent;
    }
}
@keyframes texto {
    from{
        width: 0px;
    }
    to{
        width: 711px;
    }
}
aside{
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.exp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 73vh;
    background-color: rgba(37, 255, 37, 0.089);
    transform: skewY(-5deg);
    overflow: hidden;
}
.estudante{
    width: 21%;
    transform: skewY(5deg);
}
.exp-cont{
    width: 35%;
    transform: skewY(5deg);
}
.exp-h3{
    color: rgb(0, 0, 0);
    font-family: 'whitb',Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.exp-p{
    font-size: 20px;
    font-weight: 100;
    font-family: 'whit', Helvetica, Arial, sans-serif;
    line-height: 1.525;
    color: rgb(0, 0, 0);
}
.evento{
    margin-top: 5%;
    display: flex;
    align-items: center;
}
.evento img{
    width: 50%;
}
.eventos{
    width: 43%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.eventos h3{
    display: flex;
    font-family: 'whitb';
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}
.eventos p{
    font-family: 'whit', Arial, sans-serif;
    text-align: center;
    width: 50%;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.600;
}
.h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 45px;
    border-bottom: solid;
    width: max-content;
    margin-bottom: 5%;
}
h4{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
}
.projeto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.projetos{
    transform: skewX(-10deg);
    width: 25%;
    overflow: hidden;
    height: 400px;
    border: 1px solid #fff;
    transition: 0.5s ease;
    cursor: pointer;
}
.projetos2{
    transform: skewX(-10deg);
    width: 25%;
    overflow: hidden;
    height: 400px;
    border: 1px solid #fff;
    transition: 0.5s ease;
    cursor: pointer;
}
.projetos3{
    transform: skewX(-10deg);
    width: 25%;
    overflow: hidden;
    height: 400px;
    border: 1px solid #fff;
    transition: 0.5s ease;
    cursor: pointer;
}
.projetos4{
    transform: skewX(-10deg);
    width: 25%;
    overflow: hidden;
    height: 400px;
    border: 1px solid #fff;
    transition: 0.5s ease;
    cursor: pointer;
}
.projeto img{
    transform: skewX(10deg);
    object-fit: cover;
}
.projetos:hover {
    width: 35%;
}
.projetos2:hover{
    width: 35%;
}
.projetos3:hover{
    width: 35%;
}
.projetos4:hover{
    width: 35%;
}
.projeto h4{
    margin-left: 40%;
    position: absolute;
    z-index: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.603);
    text-align: center;
    padding: 5px;
    font-weight: 800;
    border-radius: 10px;
    width: max-content;
    margin-top: 35%;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.5s ease;
}
.projetos:hover h4{
    opacity: 1;
    transform: translateY(0px);
}
.projetos2:hover h4{
    opacity: 1;
    transform: translateY(0px);
}
.projetos3:hover h4{
    opacity: 1;
    transform: translateY(0px);
}
.projetos4:hover h4{
    opacity: 1;
    transform: translateY(0px);
}
.conteudo{
    margin-top: 5%;
    display: flex;
}
.info{
    display: flex;
    align-items: flex-start;
    width: 80vw;
    height: 40vh;
    text-align: center;
    gap: 5%;
    visibility: visible;
}
.info i{
    color: rgb(109, 167, 255);
    font-size: 70px;
    font-weight: 100;
}
.info div{
    text-align: center;
    width: 30%;
}
.info h4{
    font-size: 25px;
    font-weight: 800;
}
.info p{
    font-family: 'whit';
    font-size: 20px;
    font-weight: 100;
    line-height: 1.700;
}
.mult{
    display: flex;
    align-items: flex-start;
    width: 80vw;
    height: 40vh;
    text-align: center;
    gap: 5%;
    visibility: hidden;
    position: absolute;
}
.mult i{
    color: rgb(184, 109, 255);
    font-size: 70px;
    font-weight: 100;
}
.mult div{
    text-align: center;
    width: 30%;
}
.mult h4{
    font-size: 25px;
    font-weight: 800;
}
.mult p{
    font-family: 'whit';
    font-size: 20px;
    font-weight: 100;
    line-height: 1.700;
}
.conta{
    display: flex;
    align-items: flex-start;
    width: 80vw;
    height: 40vh;
    text-align: center;
    gap: 5%;
    visibility: hidden;
    position: absolute;
}
.conta i{
    color: rgb(255, 228, 109);
    font-size: 70px;
    font-weight: 100;
}
.conta div{
    text-align: center;
    width: 30%;
}
.conta h4{
    font-size: 25px;
    font-weight: 800;
}
.conta p{
    font-family: 'whit';
    font-size: 20px;
    font-weight: 100;
    line-height: 1.700;
}
.redes{
    display: flex;
    align-items: flex-start;
    width: 80vw;
    height: 40vh;
    text-align: center;
    gap: 5%;
    visibility: hidden;
    position: absolute;
}
.redes i{
    color: rgb(150, 255, 109);
    font-size: 70px;
    font-weight: 100;
}
.redes div{
    text-align: center;
    width: 30%;
}
.redes h4{
    font-size: 25px;
    font-weight: 800;
}
.redes p{
    font-family: 'whit';
    font-size: 20px;
    font-weight: 100;
    line-height: 1.700;
}
.feed{
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 5%;
}
.feed img{
    width: 50px;
}
.feed i{
    font-size: 70px;
}
.feed h5{
    font-family: 'whitb';
    font-size: 17px;
    font-weight: 800;
}
.feed p{
    font-family: 'whit', sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 1.900;
    margin-bottom: 30px;
}
.feed .pessoa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.feedback{
    border-radius: 10px;
    background-color: white;
    width: 20%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
}