
@font-face {
    font-family: 'whit';
    src: url(whitneylight.otf);
}
@font-face {
    font-family: 'whitb';
    src: url(whitneybold.otf);
}
@keyframes efeito{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}
@keyframes piscar {
    from{
        border-right-color: #fff;
    }
    to{
        border-right-color: transparent;
    }
}
@keyframes texto {
    from{
        width: 0px;
    }
    to{
        width: 711px;
    }
}
@keyframes  borda{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
body{
    background-image: url(zback.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    margin: 0%;
}
h1{
    font-size: 30px;
    font-weight: 800;
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div1{
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
}
.logo{
    margin-left: 20%;
    width: 60px;
    border-radius: 50%;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: end;
}
#bot{
    cursor: pointer;
}
.menu-item {
    margin: 10px;
    padding: 3px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transform: translateY(0px);
    font-family: 'whit';
}
.menu-item:hover{
    transform: translateY(-5px);
    transition: transform 0.5s ease;
    border-bottom: solid green;
}
main{
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
main a{
    text-decoration: none;
    color: white;
    border: solid white 1px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
main a:hover {
    background-color: green;
}
main h2{
    color: white;
    font-size: 50px;
    font-weight: 800;
    border-right: solid white 2.5px;
    animation: piscar 1000ms infinite, texto steps(35) 3s 2s;
    overflow: hidden;
    white-space: nowrap;
    height: max-content;
}
/*sec1*/
.sec1{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 1%;
}
.sec1 h2{
    color: #10403B;
    font-family: "whitb";
    font-size: 30px;
}
.sec1 p{
    color: #4C5958;
    font-family: "whit";
    font-size: 18px;
}
.sec1 a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 3px;
    color: #127369;
    font-family: "whit";
    font-size: 15px;
}
.sec1 a{
    width: max-content;
    border: solid 0.1px;
    color: #121212;
    padding: 1%;
    clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
    transition: 0.5s ease;
}
.sec1 a:hover{
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
}
.sec1 i{
    font-size: 17px;
    margin-top: 4px;
}
.sec1 img{
    width: 50%;
}
.informa1{
    display: flex;
    align-items: center;
    width: 40%;
    padding: 3%;
    box-shadow: 1px 1px 5px 5px rgb(247, 247, 247);
}
.informa2{
    display: flex;
    align-items: center;
    width: 40%;
    padding: 3%;
    box-shadow: 1px 1px 5px 5px rgb(247, 247, 247);
}
/*sec1-end*/

/*titulo*/
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 2%;
    width: 100%;
}
h3{
    text-align: center;
    font-family: "whit";
    font-size: 35px;
    font-weight: 100;
    margin: 0;
}
.borde{
    width: 1%;
    border-radius: 5px;
    height: 5px;
    background-color: #127369;
    transition: 0.1s ease;
    padding-top: 8px;
}
/*titulo-end*/
.sec2:hover .borde{
    width: 2%;
}
.cont{
    overflow: hidden;
    height: 50vh;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 2% 5%;
}
.sec2 img{
    width: 20%;
    height: 50vh;
    margin: 0;
    padding: 0;
    object-fit: cover;
    transition: 0.1s ease;
}
.sec2 img:hover{
    transform: scale(107%);
}
/*sec2-end*/

/*slide*/
.slide{
    border: solid;
    background: linear-gradient(45deg,#121212,rgb(29, 29, 29));
    height: 80vh;
    display: flex;
    align-items: center;
}
.slides img{
    width: 40%;
    border-radius: 10px; 
    opacity: 0;
}
.slides .selecionado{
    opacity: 1;
    width: 40%;
    border-radius: 10px;
}
.slides{
    position: absolute;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 5%;
}
.conteudo{
    text-align: center;
    width: 20%;
    gap: 50px;
}
.conteudo h3{
    font-family: "whitb";
    color: #10403B;
    font-size: 30px;
}
.conteudo p{
    padding-top: 2%;
    font-family: "whit";
    color: #4C5958;
    font-size: 18px;
    line-height: 1.700;
}
.imgs{
    width: 5%;;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.imgs button{
    background-image: url(https://i.pinimg.com/originals/11/1a/03/111a03133d14214539c96e0f657dff1a.png);
    background-size: cover;
    width: 100%;
    height: 6vh;
    border-radius: 5px;
    border: none;
    margin-top: 40px;
    position: relative;
}
.imgs p{
    margin: 0;
    height: 5px;
    width: 100%;
    background-color: #127369;
    animation: borda 3s 3s infinite;
    border-radius: 5px;
}
/*slide-end*/
.sec3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec3:hover .borde{
    width: 2%;
}
.content1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec3 img{
    width: 40%;
}
.sec3 .content{
    width: 40%;
}
.sec3 h2{
    color: #10403B;
    font-family: "whitb";
    font-size: 30px;
    text-align: center;
}
.sec3 p{
    color: #4C5958;
    font-family: "whit";
    font-size: 18px;
    text-align: center;
}
/*sec3-end*/

/*titulo2*/
.titulo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 4%;
    width: 100%;
}
.titulo2 h3{
    color: #BFBFBF;
}
.borde2{
    width: 1%;
    border-radius: 5px;
    height: 5px;
    background-color: #127369;
    transition: 0.1s ease;
}
/*titulo2-end*/

.sec4{
    background-color: #121212;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 100% 100%, 0 100%, 0% 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
.sec4:hover .borde2{
    width: 2%;
}
.feeder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    overflow: hidden;
    padding: 1%;
}
.sec4 h4{
    color: #BFBFBF;
    font-family: "whitb";
    font-size: 20px;
    text-align: center;
    margin: 0;
}
.sec4 p{
    color: #BFBFBF;
    font-family: "whit";
    font-size: 18px;
    text-align: center;
}
.sec4 i{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #BFBFBF;
}
.aluno1{
    clip-path: polygon(0 0, 90% 0, 100% 15%, 100% 100%, 10% 100%, 0 85%);
    border: solid #BFBFBF 0.1px;
    padding: 1%;
    width: 18%;
    transition: 0.5s ease;
}
.aluno1:hover{
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
}
.aluno1 img{
    width: 17%;
}
.aluno{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
/*sec4-end*/
.sec5{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sec5:hover .borde{
    width: 2%;
}
.sec5 .apre{
    width: 15%;
    text-align: center;
    padding: 1%;
}
.content2{
    display: flex;
    justify-content: center;
}
.sec5 h4{
    color: #10403B;
    font-family: "whitb";
    font-size: 20px;
}
.sec5 p{
    color: #4C5958;
    font-family: "whit";
    font-size: 18px;
}
.sec5 i{
    color: #4C5958;
    font-size: 50px;
}
.sec5 img{
    width: 55%;
}
/*sec5-end*/
.sec6{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.sec6 div{
    width: 30%;
} 
.sec6 img{
    width: 35%;
}
.sec6 h4{
    color: #10403B;
    font-family: "whitb";
    font-size: 30px;
}
.sec6 p{
    color: #4C5958;
    font-family: "whit";
    font-size: 18px;
}
footer{
    background-color: #121212;
    border: solid;
    height: 35vh;
}
footer .roda{
    display: flex;
    align-items: center;
    gap: 40%;
    margin-top: 2%;
}
footer div{
    display: flex;
    gap: 25px;
}
footer a{
    text-decoration: none;
    color: #BFBFBF;
    font-family: "whit";
    font-size: 15px;
}
.border{
    background-color: #BFBFBF;
    height: 1px;
    width: 20%;
    border-radius: 5px;
}
.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.rodape i{
    color: #BFBFBF;
    font-size: 30px;
}
.fim{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #BFBFBF;
    font-size: 15px;
    font-family: "whit";
    margin-top: 2%;
}