*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'whit';
    src: url(whitneylight.otf);
}
@font-face {
    font-family: 'whitb';
    src: url(whitneybold.otf);
}
@keyframes efeito{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}
@keyframes piscar {
    from{
        border-right-color: #fff;
    }
    to{
        border-right-color: transparent;
    }
}
@keyframes texto {
    from{
        width: 0px;
    }
    to{
        width: 930px;
    }
}
@keyframes  borda{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes back{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@keyframes borda1{
    0%{
        clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
    }
    20%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    40%{
        clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
    }
    60%{
        clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);
    }
}    
body{
    background-image: url(zback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0%;
}
h1{
    font-size: 2.1em;
    font-weight: 800;
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div1{
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    width: 30%;
}
.logo{
    margin-left: 20%;
    width: 60px;
    border-radius: 50%;
}
.menu{
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 1%;
}
#bot{
    cursor: pointer;
}
#bot2{
    cursor: pointer;
}
.topo{
    cursor: pointer;
}
.menu-item {
    position: relative;
    margin: 10px;
    padding: 3px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.menu-item::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    background-color: #F29325;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
    border-radius: 10px;
}
.menu-item:hover::after{
    width: 100%;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}
main a{
    text-decoration: none;
    color: white;
    border: solid #ffff 1px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 15px;
    font-family: 'whit';
    font-weight: 800;
    margin-top: 1%;
    clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
}
main a:hover {
    border: solid #F29325 1px;
}
main h2{
    font-family: 'whitb';
    color: white;
    font-size: 3vw;
    font-weight: 800;
    border-right: solid white 2.5px;
    animation: piscar 1000ms infinite, texto steps(35) 3s 1s;
    overflow: hidden;
    white-space: nowrap;
    height: max-content;
}
/*sec1*/
.sec1{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
}
.sec1 h2{
    color: #025259;
    font-family: "whitb";
    font-size: 30px;
    margin-bottom: 5%;
}
.sec1 p{
    color: #4C5958;
    font-family: "whit";
    font-size: 18px;
    margin-bottom: 5%;
}
.sec1 a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 3px;
    color: #127369;
    font-family: "whit";
    font-size: 15px;
}
.sec1 a{
    width: max-content;
    border: solid 0.1px;
    color: #121212;
    padding: 1%;
    clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
    transition: 0.5s ease;
}
.sec1 a:hover{
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    color: #007172;
}
.sec1 i{
    font-size: 17px;
    margin-top: 4px;
}
.sec1 img{
    width: 50%;
}
.informa1{
    display: flex;
    align-items: center;
    width: 40em;
    padding: 3%;
    box-shadow: 1px 1px 5px 5px rgb(247, 247, 247);
}
.informa2{
    display: flex;
    align-items: center;
    width: 40em;
    padding: 3%;
    box-shadow: 1px 1px 5px 5px rgb(247, 247, 247);
}
/*sec1-end*/

/*titulo*/
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    margin-top: 1%;
}
h3{
    text-align: center;
    font-family: "whit";
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 5px;
    z-index: 1;
}
.borde{
    width: 0.4%;
    border-radius: 5px;
    height: 5px;
    background-color: #F29325;
    transition: 0.1s ease;
    margin-bottom: 1%;
    z-index: 1;
}
/*titulo-end*/
/*titulo2*/
.titulo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 1%;
    width: 100%;
}
.titulo2 h3{
    color: #BFBFBF;
    text-align: center;
    font-family: "whit";
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 5px;
    z-index: 1;
}
.borde2{
    width: 0.4%;
    border-radius: 5px;
    height: 4px;
    background-color: #8AA6A3;
    transition: 0.1s ease;
    margin-bottom: 1%;
    z-index: 1;
}
/*titulo2-end*/

/*sec2*/
.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec2:hover .borde{
    width: 2.5%;
}
.cont{
    overflow: hidden;
    width: 80vw;
    height: 30em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 1% 2% 3%;
}
.sec2 h4{
    font-family: "whit";
    font-size: 18px;
    color: white;
    margin-bottom: 10%;
    opacity: 0;
    transition: 0.5s ease;
}
.sec2 .inf:hover h4{
    opacity: 1;
    transform: translateY(-10px);
}
.sec2 .inf:hover i{
    opacity: 1;
    transform: translateY(-10px);
}
.sec2 .inf:hover{
    transform: scale(107%);
}
.sec2 .mult:hover{
    transform: scale(107%);
}
.sec2 .mult:hover h4{
    opacity: 1;
    transform: translateY(-15px);
}
.sec2 .mult:hover i{
    opacity: 1;
    transform: translateY(-15px);
}
.sec2 .con:hover{
    transform: scale(107%);
}
.sec2 .con:hover h4{
    opacity: 1;
    transform: translateY(-15px);
}
.sec2 .con:hover i{
    opacity: 1;
    transform: translateY(-15px);
}
.sec2 .redes:hover{
    transform: scale(107%);
}
.sec2 .redes:hover h4{
    opacity: 1;
    transform: translateY(-15px);
}
.sec2 .redes:hover i{
    opacity: 1;
    transform: translateY(-15px);
}
.sec2 i{
    color: white;
    margin-bottom: 10%;
    opacity: 0;
    transition: 0.5s;
}
.inf{
    background-image: url(https://i.pinimg.com/originals/94/32/cd/9432cdd515ab3d772334e471e230c211.jpg);
    width: 20vw;
    background-size: cover;
    transition: 0.1s ease;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.mult{
    background-image: url(https://a-static.besthdwallpaper.com/multicolor-stripes-wallpaper-1920x1080-17130_48.jpg);
    width: 20vw;
    background-size: cover;
    transition: 0.1s ease;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.con{
    background-image: url(https://ze-robot.com/images/source/28935.jpg);
    width: 20vw;
    background-size: cover;
    transition: 0.1s ease;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.redes{
    background-image: url(https://i.pinimg.com/originals/11/1a/03/111a03133d14214539c96e0f657dff1a.png);
    width: 20vw;
    background-size: cover;
    transition: 0.1s ease;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/*sec2-end*/

/*sec3*/
.sec3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.sec3:hover .borde{
    width: 2.5%;
}
.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    gap: 5%;
    flex-wrap: wrap;
}
.sec3 img{
    width: 40%;
    object-fit: cover;
}
.sec3 .content{
    width: 35em;
}
.sec3 h2{
    color: #025259;
    font-family: "whitb";
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 5%;
}
.sec3 p{
    font-family: "whit";
    font-size: 1.2em;
    text-align: center;
}
/*sec3-end*/

/*sec3 só q continuação*/
.sec31{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1%;
}
.sec31 .princ{
    padding-bottom: 3%;
    min-width: 400px;
    max-width: 700px;
}
.sec31-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}
.sec31-content img{
    width: 70%;
}
.conteudo{
    border: solid 0.1px rgb(196, 196, 196);
    box-shadow: 15px 15px 0px -3px rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 17em;
    height: 20em;
    border-radius: 20px;
    transition: 0.3s ease;
    padding: 1%;
    margin-bottom: 5%;
    overflow: hidden;
}
.conteudo:hover{
    transform: translateY(-2%);
    box-shadow: 16px 15px 0px 0px rgb(230, 230, 230);
}
.sec31-content p{
    font-family: "whit";
    width: 100%;
    line-height: 1.400;
}
/*fim-sec3.1*/

/*video*/
.sec4{
    margin-top: 3%;
    overflow: hidden;
    height: 80vh;
}
.sec4-content{
    height: 60vh;
}
video{
    position: absolute;
    z-index: -1;
    height: 75vh;
    width: 100%;
    object-fit: cover;
}
/*sec5*/
.sec5{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sec5:hover .borde{
    width: 2%;
}
.content2{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.sec5 a{
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    transition: 0.5s ease;
    padding: 0.5%;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 10px 10px 10px #f7f7f7,
             -10px -10px 10px #fdfdfd;
}
.sec5 a:hover{
    width: 320px;
}
.sec5 a:hover h4{
    display: block;
}
.sec5 h4{
    padding: 5%;
    display: none;
    font-family: "whit";
    color: #F29325;
}
.sec5 i{
    font-size: 60px;
    transition: 0.8s;
    color: #025259;
}
.sec5 a:hover i{
    transform: rotate(-360deg);
    color: #D94F04;
}
.b1-div{
    text-align: center;
    display: flex;
    margin: 1%;
    justify-content: center;
}
.b1{
    width: 30%;
    height: 0.1px;
    background-color: #BFBFBF;
}
/*sec5-end*/

/*sec6*/
.sec6{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.sec6 div{
    width: 30%;
} 
.sec6 img{
    width: 35%;
    border-radius: 30% 40% 30% 40%;
}
.sec6 h4{
    color: #025259;
    font-family: "whitb";
    font-size: 30px;
    margin-bottom: 5%;
}
.sec6 p{
    color: #0D0249;
    font-family: "whit";
    font-size: 18px;
}
footer{
    background-color: #121212;
    padding: 2% 1% 0.5%;
}
footer .roda{
    display: flex;
    align-items: center;
    gap: 20%;
}
footer div{
    display: flex;
    gap: 25px;
    width: 100%;
}
.itens{
    width: 100%;
    display: flex;
    justify-content: center;
}
footer a{
    text-decoration: none;
    color: #BFBFBF;
    font-family: "whit";
    font-size: 15px;
}
footer a:hover{
    text-decoration: underline;
}
.border{
    background-color: #BFBFBF;
    height: 1px;
    width: 20%;
    margin-top: 0.5%;
    border-radius: 5px;
}
.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 1%; 
}
.rodape i{
    color: #BFBFBF;
    font-size: 30px;
    cursor: pointer;
}
.rodape i:hover{
    color: #8AA6A3;
}
.fim{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #BFBFBF;
    font-size: 15px;
    font-family: "whit";
    margin-top: 2%;
}
.mencoes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    color: #bfbfbf96;
    font-family: "whit";
    font-size: 15px;
}
.mencoes i{
    color: rgb(255, 83, 83);
}